<div class="row footer">
    <div id="footer">
        <p>
        	<a href="http://www.nd.com.cn/" target="_blank">关于网龙</a>
        	|<a href="http://www.nd.com.cn/about/overview.shtml" target="_blank">About ND</a>
        	|<a href="http://www.nd.com.cn/about/contact-us.shtml" target="_blank">服务条款</a>
        	|<a href="http://hr.nd.com.cn/" target="_blank">加入我们</a>
        	|<a href="#" target="_self">报告漏洞</a>
        	|<a href="http://www.nd.com.cn/about/our-partners.shtml">合作伙伴</a>
        	|<a href="#" target="_blank">QAST</a>
        </p>
        <p>
            Copyright &copy; 1999 - 2015 NetDragon Websoft Inc. All Rights Reserved
        </p>
        <p>网络公司 版权所有</p>
    </div>
</div>