    <div class="navbar">
      <div class="navbar-inner">
          <a class="brand" href="/">NDST安全平台</a>
            <ul class="nav">
              <li class="active">
                <a href="/">首页</a>
              </li>
              <li class="">
                <a href="{:U('/Home/Statistics/all')}">全局统计</a>
            </li>
              <li class="">
                <a href="{:U('/Home/Statistics/test')}">快测平台统计</a>
              </li>
              <li class="">
                <a href="{:U('/Home/Statistics/k12')}">K12实验室统计</a>
              </li>
              <!--
              <li class="">
                <a href="{:U('/Home/Help/')}">FAQ</a>
              </li>
            -->
            </ul>
      </div>
    </div>